.DS_Store
node_modules
_BAK
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
vuejs-tailwindcss-portfolio-main.zip
_ToDo.html
public/favicon - Copie.png
.env
src/assets/images/ùùùùùùùùùùùùùùùùùùùùùùùùùù.png
src/assets/images/BAK/
